@import "computer-modern/cmu-serif.css";
@import "computer-modern/cmu-typewriter-text.css";

$vp-font: '"CMU Serif", "Times New Roman", serif';
$vp-font-heading: '"CMU Serif", "Times New Roman", serif';
$vp-font-mono: '"CMU Typewriter Text", "Courier New", monospace';
